commands:
  01_install_ffmpeg_static:
    command: |
      if ! command -v ffmpeg >/dev/null 2>&1; then
        cd /tmp
        curl -LO https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
        tar -xJf ffmpeg-release-amd64-static.tar.xz
        cp ffmpeg-*-static/ffmpeg /usr/local/bin/ffmpeg
        cp ffmpeg-*-static/ffprobe /usr/local/bin/ffprobe
        chmod 755 /usr/local/bin/ffmpeg /usr/local/bin/ffprobe
        rm -rf ffmpeg-release-amd64-static.tar.xz ffmpeg-*-static
      fi
